



*{
    margin: 0
}

@media screen and (min-width: 600px){
    body{
        background-image: linear-gradient(20deg, rgb(190, 171, 196),rgb(133, 97, 160), rgb(80, 27, 216));
        background-repeat: no-repeat;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    .container{
        width: 100%;
        height: 590px;
    }
    .box{
        border-radius: 10px;
        position: relative;
        margin: 40px auto;
        display: flex;
        width: 75%;
        height: 550px;
    }

    .left{
        background-color: rgba(89, 64, 133, 0.607);
        position: relative;
        border-radius: 10px 0 0 10px;
        margin: auto;
        width: 24%;
        height: 550px;
    }
    .superior{
        width: 100%;
        height: 440px;
        display: flex;
    }
    .lateral-esquerdo{
        background-color: rgba(103, 79, 143, 0.607);
        border-right: 1px solid rgb(110, 98, 132);;
        border-radius: 10px 0 0 0;
        position: relative;
        width: 25%;
        height: 440px;
    }
    .box-bolinhas{
       display: flex;
       position: relative;
       margin: 10px auto;
       width: 35px;
       height: 15px; 
    }
    .bola1{
        background-color: rgb(255, 119, 0);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .bola2{
        background-color: rgb(255, 247, 0);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .bola3{
        background-color: rgb(2, 255, 61);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .img-logo{
        position:relative;
        margin: 0 0 55% 21%;
        width: 35px;
        height: 35px;
    }
    .img-logo2{
        position:relative;
        margin: 0 0 10px 21%;
        width: 35px;
        height: 35px;
    }

    .lateral-direito{
        background-color: rgba(84, 63, 120, 0.607);
        position: relative;
        width: 75%;
        height: 440px;
    }
    .explore-left{
        position: relative;
        background-color: rgba(89, 64, 133, 0.607);
        border-bottom: 1px solid rgb(110, 98, 132);
        height: 40px;
    }
    .explore-left h2{
        position: relative;
        margin: 20px 0 0 10px;
        color: white;
        font-size: 20px;
    }
    .sidebar{
        position: relative;
        margin: auto;
    }
    .box-align{
        width: 85%;
        height: 353px;
        position: relative;
        margin: 7.5% auto;
    }
    .opt-sidebar{
        display: flex;
        width: 100%;
        height: 30px;
    }
    .opt-sidebar:nth-child(1){
        background-color: rgb(30, 24, 65, 60%);
        border-radius: 4px;
        display: flex;
        width: 100%;
        height: 30px;
    }
    .opt-sidebar img{
        position: relative;
        margin: 6px 0 0 8px ;
        width: 20px;
        height: 20px;
    }
    .opt-sidebar p{
        position: relative;
        font-size: 12px;
        margin: 8px 0 0 3px ;
        color: white;
        width: 100%px;
        height: 20px;
    }

    .inferior{
        border-radius: 0 0 0 10px;
        display: block;
        width: 100%;
        height: 110px;
    }
    .mix-grafico{
        background-image: url('./img/Polygon14.png');
        width:100%;
        height: 62px;;
    }
    .mix-grafico-fundo{
        background-color: rgba(29, 23, 59, 0.4);
        width: 100%;
        height: 62px;
    }
    .mix-grafico-front img{
        position: relative;
        margin: 16px 0 0 10px ;
        width: 90%;
        height: 30px;
    }

    .mix-menu{
        background-color: rgb(30, 24, 65);
        border-radius: 0 0 0 10px;
        display: flex;
        width: 100%;
        height: 48px;
    }
    .img-sophie{
        position: relative;
        margin: 10px 0 0 10px;
        width: 26px;
        height: 28px;
    }
    .mix-menu p{
        position: relative;
        margin: 17.5px 0 0 4px;
        color: white;
        font-size:9px;
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    .img-mic{
        position: relative;
        margin: 13px 0 0 24px;
        width: 25px;
        height: 25px;
    }
    .img-deafen{
        position: relative;
        margin: 13px 0 0 14px;
        width: 25px;
        height: 25px;
    }
    .img-add{
        position: relative;
        margin: 13px 0 0 14px;
        width: 25px;
        height: 25px;
    }

    .center{
        background-color: rgb(30, 24, 65);
        border-left: 1px solid rgb(65, 60, 97);
        position: relative;
        margin: auto;
        width: 56%;
        height: 550px;
    }
    .explorer{
        position: relative;
        background-color: rgb(48, 43, 83);
        width: 100%;
        height: 40px;
    }


    .right{
        background-color: rgb(48, 43, 83);
        border-radius: 0 10px 10px 0;
        border-left: 1px solid rgb(65, 60, 97);
        position: relative;
        margin: auto;
        width: 20%;
        height: 550px;
    }
    .menu-superior{
        position: relative;
        border-radius: 0 10px 0 0;
        background-color: rgb(48, 43, 83);
        border-bottom: 1px solid rgb(65, 60, 97);
        height: 40px;
    }
    .menu-superior img{
        position: relative;
        margin: 10px;
    }
    .right-inferior{
        position:relative;
        margin: auto;
        width: 90%;
        height: 475px;
    }
    .imgt{
        width: 100%;
    }
    

}

@media screen and (min-width: 1400px){
    body{
        background-image: linear-gradient(40deg, rgb(46, 133, 192), rgb(0, 0, 0));
        background-repeat: no-repeat;
    }

    .container{
        width: 100%;
        height: 900px;
    }
    .box{
        background-color: aquamarine;
        position: relative;
        margin: 40px auto;
        width: 75%;
        height: 750px;

    }


}

@media screen and (max-width: 630px){
    body{
        background-image: linear-gradient(40deg, rgb(46, 133, 192), rgb(0, 0, 0));
        background-repeat: no-repeat;
    }

    .container{
        width: 100%;
        height: 1000px;
    }
    .box{
        background-color: aquamarine;
        position: relative;
        margin: 40px auto;
        width: 75%;
        height: 750px;

    }


}