



*{
    margin: 0
}

@media screen and (min-width: 600px){
    body{
        background-image: linear-gradient(20deg, rgb(190, 171, 196),rgb(133, 97, 160), rgb(80, 27, 216));
        background-repeat: no-repeat;
    }

    .container{
        width: 100%;
        height: 590px;
    }
    .box{
        border-radius: 10px;
        position: relative;
        margin: 40px auto;
        display: flex;
        width: 75%;
        height: 550px;
    }



    .left{
        background-color: rgba(89, 64, 133, 0.607);
        position: relative;
        border-radius: 10px 0 0 10px;
        margin: auto;
        width: 24%;
        height: 550px;
    }
    .superior{
        width: 100%;
        height: 440px;
        display: flex;
    }
    .lateral-esquerdo{
        background-color: rgba(103, 79, 143, 0.607);
        border-right: 1px solid rgb(110, 98, 132);;
        border-radius: 10px 0 0 0;
        position: relative;
        width: 25%;
        height: 440px;
    }
    .box-bolinhas{
       display: flex;
       position: relative;
       margin: 10px auto;
       width: 35px;
       height: 15px; 
    }
    .bola1{
        background-color: rgb(255, 119, 0);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .bola2{
        background-color: rgb(255, 247, 0);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .bola3{
        background-color: rgb(2, 255, 61);
        border-radius: 5px;
        position: relative;
        margin: auto;
        width: 10px;
        height: 10px; 
    }
    .img-logo{
        position:relative;
        margin: 0 0 55% 21%;
        width: 35px;
        height: 35px;
    }
    .img-logo2{
        position:relative;
        margin: 0 0 10px 21%;
        width: 35px;
        height: 35px;
    }

    .lateral-direito{
        background-color: rgba(89, 64, 133, 0.607);
        position: relative;
        width: 75%;
        height: 440px;
    }
    .explore-left{
        position: relative;
        background-color: rgba(89, 64, 133, 0.607);
        border-bottom: 1px solid rgb(110, 98, 132);
        height: 40px;
    }
    .inferior{
        border-radius: 0 0 0 10px;
        display: block;
        width: 100%;
        height: 110px;
    }
    .mix-grafico{
        background-color: rgba(30, 24, 65, 0.633);
        width: 100%;
        height: 62px;
    }
    .mix-menu{
        background-color: rgb(30, 24, 65);
        border-radius: 0 0 0 10px;
        width: 100%;
        height: 48px;
    }


    .center{
        background-color: rgb(30, 24, 65);
        border-left: 1px solid rgb(65, 60, 97);
        position: relative;
        margin: auto;
        width: 56%;
        height: 550px;
    }
    .explorer{
        position: relative;
        background-color: rgb(48, 43, 83);
        width: 100%;
        height: 40px;
    }


    .right{
        background-color: rgb(48, 43, 83);
        border-radius: 0 10px 10px 0;
        border-left: 1px solid rgb(65, 60, 97);
        position: relative;
        margin: auto;
        width: 20%;
        height: 550px;
    }
    .menu-superior{
        position: relative;
        border-radius: 0 10px 0 0;
        background-color: rgb(48, 43, 83);
        border-bottom: 1px solid rgb(65, 60, 97);
        height: 40px;
    }


}

@media screen and (min-width: 1400px){
    body{
        background-image: linear-gradient(40deg, rgb(46, 133, 192), rgb(0, 0, 0));
        background-repeat: no-repeat;
    }

    .container{
        width: 100%;
        height: 900px;
    }
    .box{
        background-color: aquamarine;
        position: relative;
        margin: 40px auto;
        width: 75%;
        height: 750px;

    }


}

@media screen and (max-width: 630px){
    body{
        background-image: linear-gradient(40deg, rgb(46, 133, 192), rgb(0, 0, 0));
        background-repeat: no-repeat;
    }

    .container{
        width: 100%;
        height: 1000px;
    }
    .box{
        background-color: aquamarine;
        position: relative;
        margin: 40px auto;
        width: 75%;
        height: 750px;

    }


}